* {
  padding: 0px;
  margin: 0px;
}

body {
  width: 100%;
  background-color: white;
}

#banner {
  width: 100%;
  /* overflow: hidden; */
  height: 500px;
}

.wraper {
  width: 100%;
  background-color: rgb(227, 235, 152);
  text-align: center;
}

.header-wraper {
  display: inline-block;
  text-align: center;
  width: 20%;
  margin-top: 50px;
  margin-bottom: 50px;
  height: 200px;
  /* outline: 1px solid rgb(209, 102, 51); */
}

.header {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
