* {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

#canvas {
  border: 2px solid #FF0000;
}

body {
  /* background-color: rgb(252, 87, 219); */
  padding-top: 30px;
}

#canvas_real {
  border-radius: 10px;
  border: 3px solid rgb(235, 165, 93);
  margin-left: 20px;
  box-shadow: 10px 10px 4px rgb(235, 165, 93);
}


ul {
margin-left: 400px;
margin-top: 20px;
}
ul li {
  display: inline-block;
  color: white;
  line-height: 30px;
  border-radius: 15px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgb(224, 189, 99);
  cursor: pointer;
}


[type=color]{
  cursor: pointer;
}

ul li:hover {
  background-color: rgb(182, 161, 16);
}
